.tooltip {
	position: relative;
	display: inline-block;
	text-indent: 0;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: max-content;
	max-width: 225px;
	background-color: #e5e5e5;
	color: #191716;
	font-size: 12px;
	text-align: left;
	border-radius: 6px;
	padding: 20px;
	position: absolute;
	z-index: 1;
	/* top: 80%;
	left: 0; */
	top: 50%;
	left: 40%;
	transform: translate(-50%, -5%);
	margin-top: 5px;
	opacity: 0;
	transition: opacity 0.3s;
	z-index: 30;
}

@media (max-width: 600px) {
	/* .tooltip .tooltiptext {
		left: -27px;
		max-width: 260px;
	} */
}

.tooltip:hover {
	cursor: pointer;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
.tooltiptext:hover {
	visibility: visible;
	opacity: 1;
}

.primaryBtn {
	color: white;
	font-weight: bold;
	padding: 0.75rem 2rem;
	border-radius: 9999px;
	/* margin: 2rem auto; */
	background-color: #8860d0;
	--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
		0 1px 2px -1px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	outline: none;
	transition: all 0.2s ease-in-out;
}
.primaryBtn.disabled {
	background-color: #c1c8e4;
}
.primaryBtn:hover {
	--tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
		0 4px 6px -4px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	background-color: #84ceeb;
}

.secondaryBtn {
	color: #191716;
	border: 1px solid #191716;
	border-radius: 9999px;
	padding: 0.75rem 2rem;
	transition: all 0.2s ease-in;
}
.secondaryBtn:hover {
	background-color: #84ceeb;
	color: #191716;
}

.skipLink {
	position: absolute;
	overflow: hidden;
	top: auto;
	left: -10000px;
	width: 1px;
	height: 1px;
	z-index: 40;
	background-color: #fff;
	color: #8860d0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 40px;
	border-radius: 999px;
	text-decoration: none;
}

.skipLink:focus {
	top: 10px;
	left: 10px;
	/* width: auto; */
	/* height: auto; */
}
