.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: max-content;
	max-width: 350px;
	background-color: #e5e5e5;
	color: #191716;
	font-size: 12px;
	text-align: left;
	border-radius: 6px;
	padding: 20px;
	position: absolute;
	z-index: 1;
	top: 80%;
	left: 50%;
	margin-top: 5px;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip:hover {
	cursor: pointer;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
.tooltiptext:hover {
	visibility: visible;
	opacity: 1;
}
